<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <?php include_http_metas() ?>
    <?php include_metas() ?>
    <?php include_title() ?>
    <link rel="shortcut icon" href="/favicon.ico" />
  </head>
  <body>
      <div id="header">
				<?php include_partial('global/public_menu', array()) ?>
        <h1 id="site-title">Admin</h1>
      </div>
      <div id="content">
        <div id="admin-nav">
				  <?php include_partial('global/admin_menu', array()) ?>
				</div>
				<div id="main">
				  <div id="main-inner">
            <?php echo $sf_content ?>
          </div>
        </div>
      </div>
  </body>
</html>
