<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <?php include_http_metas() ?>
    <?php include_metas() ?>
    <?php include_title() ?>
    <link rel="shortcut icon" href="/favicon.ico" />

    <?php include_stylesheets() ?>
    <?php include_javascripts() ?>
  </head>
  <body>
      <div id="header">
        <div id="public-nav">
          <a href="#">Sign In</a>
          <a href="#">Frontend</a>
        </div>
        <h1 id="site-title">Admin</h1>
      </div>
      <div id="content">
        <div id="admin-nav">
          <ul>
            <li><a href="#"> Link 1</a></li>
            <li><a href="#"> Link 2</a></li>
            <li><a href="#"> Link 3</a></li>
            <li><a href="#"> Link 4</a></li>
            <li><a href="#"> Link 5</a></li>
          </ul>
				</div>
				<div id="main">
				  <div id="main-inner">
            <?php echo $sf_content ?>
          </div>
        </div>
      </div>
  </body>
</html>
